.work-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #222;
    color: #f1f1f1;
  }
  
  .work-history h2 {
    font-size: 2.5em;
    margin-bottom: 50px;
  }
  
  .work-item {
    display: flex;
    margin-bottom: 1rem;
  }
  
  .work-item-logo {
    border-radius: 50%;
    background-color: white;
    padding: 30px;
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
    align-self: center;
  }
  
  .work-item-logo img {
    width: 5rem;
    height: 5rem;
    float: left;
  }
  
  .work-info {
    flex: 1;
    float: left;
  }
  
  .work-info h3 {
    margin: 0;
  }
  
  .work-info p {
    margin: 0.5rem 0;
  }
  
  .work-info ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .work-info li {
    margin-left: 1.5rem;
    text-indent: -1.5rem;
  }
  