footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  footer p {
    font-size: 1.2em;
    margin: 0;
  }
  
  footer span {
    font-weight: bold;
  }