/* Work section */

.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #333;
    color: #f1f1f1;
  }
  
  .work h2 {
    font-size: 2.5em;
    margin-bottom: 50px;
  }
  
  .work .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .work .project {
    width: 300px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .work .project img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .work .project .title {
    padding: 10px;
    background-color: #2b2b2b;
    color: #f1f1f1;
  }
  
  .work .project .description {
    padding: 10px;
  }
  